/* Estilos del main, section y footer */

*{
    margin: 0;
    padding: 0;
}



/* section */

section h2{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
    background-color: burlywood;
    padding: 3rem;
}

section p {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;

}

section img{
    display: block;
    width: 32rem;
    height: 32rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section a img{
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 1rem 1rem;
    margin-left: auto;
}

footer{
    background-color: silver;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

footer a{
    display: inline-block;
    padding: 1rem;
    background-color: cadetblue;
    text-decoration: none;
    color: #fff;
    border-radius: 5%;
    width: auto;
    height: 1rem;
}

footer a:hover{
    transition: 0.5s;
    scale: 1.1;
}

footer a:active{
    background-color: rgb(237, 14, 40);
}